<header>
    <div class="main wrap">
        <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
        <p><span><img src="https://img.icons8.com/color/48/000000/phone-disconnected--v1.png"/> 011 2 888 788</span></p>
      </div>
    <nav>
      <ul class="menu">
        <li ><a href="#" routerLink ="/home" routerLinkActive="active">Home</a></li>
        <li class="current"><a href="#" routerLink ="/about" routerLinkActive="active">About</a></li>
        <li><a href="#" routerLink ="/services" routerLinkActive="active">Services</a></li>
        <li><a href="#" routerLink ="/pricelist" routerLinkActive="active">Price List</a></li>
        <li><a href="#" routerLink ="/login" routerLinkActive="active">Login</a></li>
      </ul>
      <div class="clear"></div>
    </nav>
  </header>
  
  <section class="header-shadow">
  
    <nav>
      <ul class="menu">
        <li class="current"></li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
      </ul>
      <div class="clear"></div>
    </nav>
  </section>
  <section id="content">
    <div class="sub-page">
      <div class="sub-page-left">
        <h2 class="p2">Long-Term Business</h2>
        <div class="wrap"> <img src="/assets/page2-img2" alt="" class="img-indent">
          <div class="extra-wrap">
            <p class="upper">Our business goals are designed to look three to five years 
              into the future. Any well-run business will have clear and defined long term goals 
              that set the direction of the company and short term objectives that drive those 
              long term goals.These are important to the entrepreneur as they clarify the purpose 
              of the business and help identify necessary actions. For entrepreneurs, your long-term 
              goals must encompass not only the goals for the business but your 
              personal long-term goals.</p>
          </div>
        </div>
        <h2 class="top-1 p3">Management Team</h2>
        <p class="upper">A management team is a collection of top managers who set the strategy and 
          run the operations of an organization together with its top leader. The management team can
        contact anytime through this contact informations.</p>
        <div class="box-4">
          <div class="block-item"> <img src="/assets/page2-img2.jpg" alt=""> Nadeesh Edirisooriya</div>
          <div class="block-info">
            <p>Chief Business Development Officer</p>
            <p>adcmmm@yahoo.com</p>
            <p>+94112 888 188</p>
          </div>
          <div class="block-item"> <img src="/assets/page2-img3.jpg" alt=""> Kavindu Gayashan</div>
          <div class="block-info">
            <p>Chief Financial Officer</p>
            <p>thaywwk@yahoo.com</p>
            <p>+94112 888 288</p>
          </div>
          <div class="block-item"> <img src="/assets/page2-img4.jpg" alt=""> Thashmila Jananji</div>
          <div class="block-info">
            <p>Chief Operating Officer</p>
            <p>okafevdw@yahoo.com</p>
            <p>+94112 888 388</p>
          </div>
        </div>
      </div>
      <div class="sub-page-right">
        <div class="shadow bot-1">
          <h2 class="p2">Our Mission</h2>
          <p class="text-3 p2">Lorem ipsum dolor</p>
          <p class="upper">Providing an environment that encourages teamwork
            Improving services and operations to ensure long-term market leadership and profitability and 
            exceeding customer and employee expectations and maintaining their loyalty throughout
             their lives.</p>
        </div>
        <div class="shadow bot-1">
          <h2 class="p2">Our Vision</h2>
          <p class="text-3 p2">Lorem ipsum dolor</p>
          <p class="upper">Our goal is to become an industry leader in providing unmatched quality vehicle products and services
            Continuity and excellence to meet the changing needs of customers.</p>
        
        </div>

        <div class="box-5">
          <h2>Find Us</h2>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31686.535822057434!2d79.86143603604754!3d6.91247448423365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae259a291b991db%3A0xe37fc789128a67fc!2sColombo%2008%2C%20Colombo%2C%20Sri%20Lanka!5e0!3m2!1sen!2sus!4v1633957661242!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              
            </div>
          <dl class="adr">
            <dt>88A, Park Road, <br>
              Borella, Colombo 8.</dt>
            <dd><span>Telephone:</span>+94 2 888 788</dd>
            <dd><span>E-mail:</span><a href="#" class="link">mail@nkt.org.lk</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </section>
      
      <app-footer-service></app-footer-service>
  