<header>
    <div class="main wrap">
        <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
        <p><span><img src="https://img.icons8.com/color/48/000000/phone-disconnected--v1.png" /> 011 2 888 788</span>
        </p>
    </div>
    <nav>
        <ul class="menu">
            <li ><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a href="#" routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a href="#" routerLink="/services" routerLinkActive="active">Services</a></li>
            <li><a href="#" routerLink="/pricelist" routerLinkActive="active">Price List</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>

<section class="header-shadow">

    <nav>
        <ul class="menu">
            <li class="current"></li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
        </ul>
        <div class="clear"></div>
    </nav>
</section>
<section id="content">
    <div class="sub-right  box-9" *ngIf="displayError">
        <h2><span>Timeslot unavailable, Please select another time</span> </h2>
        <img src="/assets/soldout.png" alt="">
    </div>

    <div class="card box-9 tab" >
        <h2>Booking Now</h2>
        <form class=" tab" (ngSubmit)="makeBooking()" [formGroup]="form">
            <div  class="form-group form-control">
                <label>Name</label><br>
                <input name="Message" formControlName="name" class="form-control">
            </div>
            <div  class="form-group form-control">
                <label>Mobile Number</label><br>
                <input name="Message" formControlName="mobile" class="form-control">
            </div>
            <div  class="form-group form-control">
                <label>Email Address</label><br>
                <input name="Message" formControlName="email" class="form-control">
            </div>
            <div class="form-group form-control">
                <label>Vehicle Number</label><br>
                <input name="Message" formControlName="vehicleNo" class="form-control">
            </div>
            <div class="form-group">
                <label>Vehicle Model</label><br>
                <input name="Message" formControlName="vehicleModel" class="form-control">
            </div>
            
            <div class="form-group">
                <label>Service Type</label><br>
                <select formControlName="servType" class="form-control">
                    <option value="1">Body Wash</option>
                    <option value="2">Half Service</option>
                    <option value="3">Full Service</option>
                </select> 
            </div>
            <div class="form-group form-control">
                <label>Date </label><br>
                <input type="date" formControlName="dateServ" class="form-control" placeholder="select Date">

                <div *ngIf="dateErr" class="invalid-feedback">Date Unavailable</div>
            </div>
            <div class="form-group form-control">
                <label>Time </label><br>
                <select formControlName="timeSlot" class="form-control">
                    <option value="1">9.00 a.m.</option>
                    <option value="2">1.00 p.m.</option>
                    <option value="3">3.00 p.m.</option>
                </select>

                <div *ngIf="dateErr" class="invalid-feedback">Time Unavailable</div>
             </div>
            <div class="form-group">
                <label >Special comment</label><br>
                <textarea name="Message" formControlName="comments" class="form-control"></textarea>
              </div>
            <div class="form-group" style="text-align:center;">
                <button type="submit" class="btns button">Submit Booking</button>
            </div>
        </form>
    </div>
</section>

<app-footer-service></app-footer-service>