<header>
    <div class="main wrap">
        <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
        <p><span><img src="https://img.icons8.com/color/48/000000/phone-disconnected--v1.png" /> 011 2 888 788</span>
        </p>
    </div>
    <nav>
        <ul class="menu">
            <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a href="#" routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a href="#" routerLink="/services" routerLinkActive="active">Services</a></li>
            <li class="current"><a href="#" routerLink="/pricelist" routerLinkActive="active">Price List</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
</header>

<section class="header-shadow">

    <nav>
        <ul class="menu">
            <li class="current"></li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
        </ul>
        <div class="clear"></div>
    </nav>
</section>
<section id="content">
    <div class="sub-page">
        <div class="sub-page-left">
            <div class="box-4">
                <h2 class="p4">Spare Parts</h2>
                <div class="block-item"> <img src="/assets/tyre.png" alt=""></div>
                <div class="block-info">
                    <p>Order your tyres right now from</p>
                    <p>Automobiles Sri Lanka Tyres (pvt) Ltd</p>
                    <a href="/tyres">Check Prices</a>
                </div>
                <div class="block-item"> <img src="/assets/lube-buy.jpg" alt=""></div>
                <div class="block-info">
                    <p>Order your Lubricants right now from</p>
                    <p>Automobiles Sri Lanka (pvt) Ltd</p>
                    <a href="/lubricants">Check Prices</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-service></app-footer-service>