<header>
  <div class="main wrap">
      <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
      <p><span><img src="https://img.icons8.com/color/48/000000/phone-disconnected--v1.png"/> 011 2 888 788</span></p>
    </div>
  <nav>
    <ul class="menu">
      <li class="current"><a href="#" routerLink ="/home" routerLinkActive="active">Home</a></li>
      <li><a href="#" routerLink ="/about" routerLinkActive="active">About</a></li>
      <li><a href="#" routerLink ="/services" routerLinkActive="active">Services</a></li>
      <li><a href="#" routerLink ="/pricelist" routerLinkActive="active">Price List</a></li>
    </ul>
    <div class="clear"></div>
  </nav>
</header>
<section class="header-shadow">
  <nav>
    <ul class="menu">
      <li class="current"></li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
    </ul>
    <div class="clear"></div>
  </nav>
</section>
  <div id="slider">
    <div class="slider-block">
      <div class="slider">
        <ul class="items">
          <li><img src="/assets/slide1.jpg" alt="">
            <div class="banner">
              <div><span>Car</span><strong>--- </strong>
                <p>--- </p>
              </div>
            </div>
          </li>
          <li><img src="/assets/slide2.jpg" alt="">
            <div class="banner">
              <div><span>--- </span><strong>--- </strong>
                <p>---- </p>
              </div>
            </div>
          </li>
          <li><img src="/assets/slide3.jpg" alt="">
            <div class="banner">
              <div><span>--- </span><strong>--- </strong>
                <p>--- </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a href="#" class="prev"></a> <a href="#" class="next"></a>
    </div>
  </div>
  <section id="content">
    <div class="block-1 box-1">
      <div class="block-item">
        <div class="block-img"> <img src="/assets/page1-img1.jpg" alt=""></div>
        <div class="block-info">
          <p class="text-1">Schedule <strong>Services</strong></p>
          <p class="upper"> A motor vehicle service or tune-up is a series of maintenance 
            procedures carried out at a set time interval or after the vehicle has traveled 
            a certain distance. The service intervals are specified by the vehicle manufacturer 
            in a service schedule and some modern cars display the due date for the next service 
            electronically on the instrument panel. </p>
        </div>
      </div>
      <div class="block-item">
        <div class="last"> <img src="/assets/page1-img2.jpg" alt=""></div>
        <div class="block-info">
          <p class="text-1">Preventive <strong>Maintenance</strong></p>
          <p class="upper"> Preventive maintenance (PM) is the key to any successful maintenance
            program for commercial motor vehicles. Through preventive maintenance, vehicles are 
            inspected, repaired, and maintained in such a way that defects are prevented from surfacing 
            in the first place, before a violation or accident can occur. </p>
        </div>
      </div>
      <div class="block-item">
        <div class="last"> <img src="/assets/page1-img3.jpg" alt=""></div>
        <div class="block-info">
          <p class="text-1">Tire & Wheel <strong>Services</strong></p>
          <p class="upper"> Tire and Wheel Protection can repair or replace flat tires and damaged 
            wheels that result from covered road hazards. can cover the costs associated with minor
             repair of cosmetic damage, in addition to the coverage of the standard Tire and Wheel 
             Protection. </p>
        </div>
      </div>
    </div>
  </section>
  
  <app-footer-service></app-footer-service>
