<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <table>
      <tr>
        <td>
          <span>
            <img
              src="{{ lubricant.imagePath }}"
              alt="{{ lubricant.name }}"
              style="max-height: 50px">
          </span>
        </td>
        <td>
          <h2>
            {{ lubricant.name }}
          </h2>
        </td>
      </tr>
    </table>
    
  </div>
  
</a>
