<header>
  <div class="main wrap">
    <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
    <p><span><img src="https://img.icons8.com/color/48/000000/phone-disconnected--v1.png" /> 011 2 888 788</span></p>
  </div>
  <nav>
    <ul class="menu">
      <li class="current"><a href="#" routerLink="/user" routerLinkActive="active">Home</a></li>
      <li><a href="#" routerLink="/vabout" routerLinkActive="active">About</a></li>
      <li><a href="#" routerLink="/vservices" routerLinkActive="active">Services</a></li>
      <li><a href="#" routerLink="/vpricelist" routerLinkActive="active">Price List</a></li>
      <li><a href="#" routerLink="/vehicle" routerLinkActive="active">Vehicle List</a></li>
      <li><a href="#" routerLink="/booking" routerLinkActive="active">Booking</a></li>
      <li><button type="button" class="btns button" >Log Out</button></li>
      
    </ul>
    <div class="clear"></div>
  </nav>
</header>

<section class="header-shadow">

  <nav>
    <ul class="menu">
      <li class="current"></li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
      <li> </li>
    </ul>
    <div class="clear"></div>
  </nav>
</section>

<section id="content">
  <div class="sub-page helo">
    <div class="sub-page-left box-9">
      <h2>Hello, Name</h2>
      <h2><span>Welocome to the NKT Car Service Online Booking Centre...</span> </h2>
    </div>
  </div>
</section>
<section id="content">
  <div class="block-1 box-1">
    <div class="block-item">
      <div class="block-img"> <img src="/assets/page1-img1.jpg" alt=""></div>
      <div class="block-info">
        <p class="text-1">Schedule <strong>Services</strong></p>
        <p class="upper"> A motor vehicle service or tune-up is a series of maintenance 
          procedures carried out at a set time interval or after the vehicle has traveled 
          a certain distance. The service intervals are specified by the vehicle manufacturer 
          in a service schedule and some modern cars display the due date for the next service 
          electronically on the instrument panel. </p>
      
      </div>
    </div>
    <div class="block-item">
      <div class="last"> <img src="/assets/page1-img2.jpg" alt=""></div>
      <div class="block-info">
        <p class="text-1">Preventive <strong>Maintenance</strong></p>
        <p class="upper"> Preventive maintenance (PM) is the key to any successful maintenance
           program for commercial motor vehicles. Through preventive maintenance, vehicles are 
           inspected, repaired, and maintained in such a way that defects are prevented from surfacing 
           in the first place, before a violation or accident can occur. </p>
      </div>
    </div>
    <div class="block-item">
      <div class="last"> <img src="/assets/page1-img3.jpg" alt=""></div>
      <div class="block-info">
        <p class="text-1">Tire & Wheel <strong>Services</strong></p>
        <p class="upper"> Tire and Wheel Protection can repair or replace flat tires and damaged 
          wheels that result from covered road hazards. can cover the costs associated with minor
           repair of cosmetic damage, in addition to the coverage of the standard Tire and Wheel 
           Protection. </p>
      </div>
    </div>
  </div>
  
</section>

<app-footer-service></app-footer-service>