<!-- header-->
<header>
    <div class="main wrap">
        <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
        <p><span><img src="https://img.icons8.com/color/48/000000/phone-disconnected--v1.png"/> 011 2 888 788</span></p>
      </div>
    <nav>
      <ul class="menu">
        <li><a href="#" routerLink ="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink ="/about" routerLinkActive="active">About</a></li>
        <li><a href="#" routerLink ="/Services" routerLinkActive="active">Services</a></li>
        <li><a href="#" routerLink ="/pricelist" routerLinkActive="active">Price List</a></li>
        <li><a href="#" routerLink ="/login" routerLinkActive="active">Login</a></li>
      </ul>
      <div class="clear"></div>
    </nav>
  </header>

  <section class="header-shadow">
  
    <nav>
      <ul class="menu">
        <li class="current"></li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
      </ul>
      <div class="clear"></div>
    </nav>
  </section>
  
   
  
